<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661823581081-fqjb1ok6m997pmguvvj013o495il05lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661823581081-fqjb1ok6m997pmguvvj013o495il05lt</string>
	<key>API_KEY</key>
	<string>AIzaSyAB7EQlJlChwp4HEwClcn_wLX9XdgzI8_U</string>
	<key>GCM_SENDER_ID</key>
	<string>661823581081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashion</string>
	<key>PROJECT_ID</key>
	<string>myfirebase-83e20</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebase-83e20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661823581081:ios:e90335afc2c83b20d18108</string>
</dict>
</plist>